/**
**
** general
**
**/
div.vote_on_issues-issue-votes-nowrap {
    white-space:nowrap;
    float: left;
}

/**
**
** LIST OF VOTERS
**
**/
/* LINK/BUTTON */
.vote_on_issues-link-voters {
    cursor:pointer;
}
/* BOX (BASIC DEVISION: TITLE, LIST) */
#vote_on_issues-issue-voters {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 25em;
    max-width: 50%;
    
    border: 2px solid #CCC;
    border-radius: 5px;
    
    background-color: #FFF;
    
    overflow: hidden;
    
    box-shadow: 0.5em 0.5em 0.3em rgba(0,0,0,0.5);
}
#vote_on_issues-issue-voters > div:nth-child(1) {
    background-color: #628DB6;
    color:#FFF;
} 
#vote_on_issues-issue-voters > div:nth-child(2) {
    border-radius: 0 0 5px 5px;
    padding:0.2em;

    min-height: 10vh;
    max-height: 40vh;
    
    overflow: auto;
}    
/* TITLE BAR */
#vote_on_issues-issue-voters > div:nth-child(1) > table {
    width:100%;
    border-collapse:collapse;
}
#vote_on_issues-issue-voters > div:nth-child(1) > table td:nth-child(1) {
    padding:0.2em;
    padding-left:0.3em;
    text-align:left;
}
#vote_on_issues-issue-voters > div:nth-child(1) > table td:nth-child(2) {
    text-align:right;
    cursor:pointer;
}
#vote_on_issues-issue-voters > div:nth-child(1) > table img {
    margin-right:0.3em;
    width:0.7em;
    height:0.7em;
}
/* LIST TABLE */
#vote_on_issues-issue-voters > div:nth-child(2) > table {
    width:100%;
    border-collapse:collapse;
}
#vote_on_issues-issue-voters-list tr {
    border-bottom:1px solid #CCC;
}  
#vote_on_issues-issue-voters-list tr:last-child {
    border-bottom:none;
}  
#vote_on_issues-issue-voters-list td {
    
}
#vote_on_issues-issue-voters-list td:nth-child(1) {
    width:16px;
}
#vote_on_issues-issue-voters-list img {
    width:0.8em;
    height:0.8em;
}
#vote_on_issues-issue-voters-list span[data-vote-val="1"] {
    color:#080;
}
#vote_on_issues-issue-voters-list span[data-vote-val="-1"] {
    color:#800;
}
/**
**
** MY VOTE
**
**/
span.vote_on_issues-my-vote-opt {
    clear:left;
}
img.vote_on_issues-icon-votes {
    width:0.8em;
    height:0.8em;
    margin-left:0.2em;
    margin-right:0.8em;
}    
.vote_on_issues-icon-vote {
    text-decoration: none !important;
}
img.vote_on_issues-icon-vote {
    margin-left:0.2em;
    width:0.8em;
    height:0.8em;
}
